{% extends "layout.html" %}

{% block title %}Pallet planner{% endblock %}

{% block body %}


<div class="container">
	<div class="row">
		<div class="col">

			<hr>
			<p1>To start, please select which app would you like to use:</p1>
			<br>
			<br>

			<button style="margin-right:3em;" class="btn btn-primary"
					onclick="window.location.href='upload-load'">Pallet Planning App</button>

			<button style="margin-right:3em;" class="btn btn-primary"
					onclick="window.location.href='branch'">Order Planning App</button>
					
			<button class="btn btn-primary"
					onclick="window.location.href='branch'">Delivery Planning App</button>

		</div>
	</div>
</div>

{% endblock %}
